/* 전체 About 섹션 레이아웃 */
.about-section {
    margin: 0 auto;
    padding: 0.8rem;
    height: 100%;
    /*max-height: 550px; !* 창 높이를 넘으면 스크롤 생성 *!*/
    overflow-y: auto;
    color: #1c1c1c;
    cursor: default;
}

/* 프로필 사진과 정보 컨테이너 */
.about-container {
    display: flex;
    align-items: flex-start; /* 상단 정렬 */
    gap: 40px;
}

/* 프로필 사진 스타일 */
.about-photo {
    width: 120px;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* 텍스트 정보 정렬 */
.about-info {
    display: flex;
    flex-direction: column;
}

/* 이름 스타일 */
.about-name {
    font-size: 19px;
    font-weight: 500;
    margin: 20px 0 12px 0;
    text-align: left;
}

/* 상세 정보 2열 배치 */
.about-details {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2열 */
    gap: 6px 35px; /* 행/열 간격 */
    font-size: 14px;
    text-align: left;
}

/* 각 상세 정보 항목 스타일 */
.about-details div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

/* 공통 아이콘 스타일 */
.icon {
    color: #555;
    font-size: 14px;
}

/* 학력 아이콘 전용 스타일 */
.icon-edu {
    font-size: 18px;
    transform: translateX(-1.5px); /* 수평 위치 살짝 조정 */
}

.contact-link {
    text-decoration: none;
    transition: color 0.2s;
    margin-top: 1%;
}

.contact-link:hover {
    text-decoration: underline;
}

.link-icon {
    font-size: 0.65em;
    margin-left: 4px;
    vertical-align: middle;
    color: #555;
}



/* 학습 과정 제목 스타일 */
.about-study h6, .about-Introduce h6 {
    margin-bottom: 2px;
    text-align: left;
    font-weight: 500;
}

/* 학원명 강조 */
.about-shool {
    font-weight: 500;
}

/* 수강 기간 색상 */
.about-day {
    color: #999;
}

/* 학습 과정 본문 텍스트 */
.about-study p, .about-Introduce p{
    font-size: 0.86em;
    line-height: 1.8;
    text-align: left;
    color: #444;
}

.about-Introduce p {
    margin-bottom: 20px;
}

/* 전체화면 기준 */
.about-section.fullscreen  {
    font-size: 1.1rem;
}

/* 전체화면일 때 중앙 정렬 */
.about-section.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3rem 1rem;
}

.about-section.fullscreen .about-photo {
    width: 133px;
    height: 170px;
}

.about-section.fullscreen .about-name {
    font-size: 1.5rem;
}

.about-section.fullscreen .about-details div {
    font-size: 0.9rem;
}

/* 공통 아이콘 스타일 */
.about-section.fullscreen .icon {
    color: #555;
    font-size: 15px;
}

/* 학력 아이콘 전용 스타일 */
.about-section.fullscreen .icon-edu {
    font-size: 19px;
    transform: translateX(-1.5px); /* 수평 위치 살짝 조정 */
}
